<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>HIREPRO</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div>
          <a class="brand" href="index.html">hire-professional</a>
        </div>
        <div>
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
        <div>
          <div class="row center">
            <div class="card">
              <a href="pro.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="pro" />
              </a>
              <div class="card-body">
                <a href="pro.html">
                  <h2>Omar Abdallah</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">120 DT</div>
              </div>
            </div>
            <div class="card">
              <a href="pro.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="pro" />
              </a>
              <div class="card-body">
                <a href="pro.html">
                  <h2>Yasir Massi</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">220 DT</div>
              </div>
            </div>
            <div class="card">
              <a href="pro.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="pro" />
              </a>
              <div class="card-body">
                <a href="pro.html">
                  <h2>Imad Amer</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">320 DT</div>
              </div>
            </div>
            <div class="card">
              <a href="pro.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="pro" />
              </a>
              <div class="card-body">
                <a href="pro.html">
                  <h2>Issam Bin</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">220 DT</div>
              </div>
            </div>
            <div class="card">
              <a href="pro.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="pro" />
              </a>
              <div class="card-body">
                <a href="pro.html">
                  <h2>Raddi Ayachi</h2>
                </a>
                <h6>Speciality : Builder</h6>
                <br/>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">210 DT</div>
                <div class="category">Builder</div>
              </div>
            </div>
            <div class="card">
              <a href="pro.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src="./images/p1.jpg" alt="pro" />
              </a>
              <div class="card-body">
                <a href="pro.html">
                  <h2>Wassim Sassi</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">1566 DT</div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All right reserved
        <script type="text/JavaScript"> document.write(new Date().getFullYear()); </script>
      </footer>
    </div>
  </body>
</html>
